@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 9;
    transition: ease-in 0.5s;
}

header.dark {
    background: #333;
}

header nav {
    padding-top: 7px;
}

.logo {
    font-size: 24px;
    font-family: 'Poppins-Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.nav-link {
    padding: 0rem 1rem;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
}

.about .mvv {
    padding: 50px 0;
}

.about h3 {
    font-family: 'Poppins-Bold', sans-serif;
    color: #444F60;
}

.about p {
    font-family: 'Poppins';
    font-size: 13px;
    color: #878787;
}

.about .about-text {
    padding: 50px 0 0;
    background: #f2f2f2;
}

.about .about-text:last-child {
    padding: 50px 0 50px;
}

.about .about-text hr {
    border-top: 1px solid #19b798;
}

.about-text .about-text p {
    font-size: 15px;
}

.about .item {
    text-align: center;
}

.about .mvv-image {
    margin: 0 auto 5px;
    display: block;
}

.about-text-image img {
    max-width: 100%;
}

.banner {
    height: 100vh;
    padding-top: 70px;
    text-align: center;
    background: url('../images/banner-background.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

.banner .wrap-banner {
    position: absolute;
    top: 40%;
    width: 100%;
}

.banner h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    width: 440px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 20px;
}

.banner a {
    width: 185px;
    height: 45px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 0 10px;
    padding: 7px 25px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
}

.features {
    background: url('../images/features-background.jpeg') no-repeat center center;
    background-attachment: fixed;
    background-position: 50% 0;
    padding: 40px 0 50px;
}

.features h3 {
    color: #fff;
    font-family: 'Poppins-Bold', sans-serif;
    margin-bottom: 25px;
    font-size: 2rem;
}

.features h4 {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
}

.team {
    padding: 50px 0 50px;
}

.team .member h5 {
    margin: 5px 0 2px;
    font-family: 'Poppins-Bold', sans-serif;
}

.team .member p {
    margin-bottom: 0;
    font-size: 12px;
    font-family: sans-serif;
}

.contact {
    background: #f2f2f2;
    padding: 50px 0 40px;
}

.contact h3 {
    font-family: 'Poppins-Bold', sans-serif;
    margin-bottom: 25px;
    font-size: 2rem;
    color: #444F60;
}

.wrap-contact {
    width: 40%;
    margin: 0 auto;
    overflow: auto;
}

.wrap-contact input,
.wrap-contact textarea {
    border: 0;
    border-bottom: 1px solid #19b798;
    resize: none;
    background: transparent;
    width: 100%;
    padding: 12px 5px;
    outline: none;
    color: #878787;
    font-family: 'Poppins', sans-serif;
}

.wrap-contact textarea {
    min-height: 120px;
    color: #878787;
    margin-bottom: 10px;
}

.wrap-contact button {
    float: right;
    background: #19b798;
    width: 185px;
    height: 45px;
    color: #fff;
    border:0;
    border-radius: 30px;
    padding: 7px 25px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Poppins-Bold', sans-serif;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #878787;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #878787;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #878787;
}

.copyright {
    background: #f2f2f2;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    color: #444F60;
}