@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

label {
    display: block;
}

.login {
    font-family: 'Poppins-Regular', Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: url('../images/login-background.jpg') no-repeat center center;
    background-size: cover;
}

.wrap-login {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 55px 50px 55px;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.login h1 {
    margin-bottom: 20px;
    font-family: 'Poppins-Bold', Arial, sans-serif;
}

.login form input {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 10px;
    border: 0px;
    border-bottom: 1px solid #41495b;
    outline: none;
    margin-bottom: 1.5em;
}

.login .esqueceu-senha {
    text-align: right;
    font-size: 13px;
    margin: 20px 0 35px;
}

.login .esqueceu-senha a {
    color: #333;
}

.login button {
    font-family: 'Poppins-Medium', Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #3f4d66;
}

.copyright {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-family: 'Poppins-Bold', Arial, sans-serif;
    font-size: 12px;
}

.toolbar {
    width: 100%;
    margin: 0 auto 0;
    padding: 10px;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.toolbar .fa {
    color: #545454;
}

.text-editor button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    font-size: 20px;
    color: #a6a6a6;
    cursor: pointer;
    outline: none;
}

.text-editor button:hover {
    border: 1px solid #a6a6a6;
    color: #777;
}

#bold,
#italic,
#underline {
    font-size: 18px;
}

#underline,
#align-right {
    margin-right: 17px;
}

#align-left {
    margin-left: 17px;
}

.text-editor select {
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    background: #fcfcfc;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.text-editor select>option {
    font-size: 15px;
    background: #fafafa;
}

#fonts {
    width: 140px;
}

.sp-replacer {
    background: #fcfcfc;
    padding: 1px 2px 1px 3px;
    border-radius: 3px;
    border-color: #a6a6a6;
    margin-top: -1px;
}

.sp-replacer:hover {
    border-color: #a6a6a6;
    color: inherit;
}

.sp-preview {
    width: 15px;
    height: 15px;
    border: none;
    margin-top: 2px;
    margin-right: 3px;
}

.sp-preview-inner,
.sp-alpha-inner,
.sp-thumb-inner {
    border-radius: 3px;
}

.editor {
    position: relative;
    width: 100%;
    height: 413px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    outline: none;
    border: 1px solid #dfdfdf;
}

.content-title {
    position: relative;
    width: 100%;
    margin: 0 auto 20px;
    padding: 5px 15px;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    outline: none;
    border: 1px solid #dfdfdf;
}

.cadastro-prova,
.dashboard-aluno {
    background: #f2f2f2;
}

.cadastro-prova h3 {
    font-size: 40px;
    margin: 40px 0 20px;
}

.sidebar-content .publicacao,
.sidebar-content .atributos {
    border: 1px solid #dfdfdf;
    padding: 15px 25px;
    background: #fff;
    margin-bottom: 20px;
}

.sidebar-content h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sidebar-content .publicacao .att-post {
    float: right;
}

.sidebar-content .atributos p {
    margin-bottom: 0.6rem;
}

.sidebar-content .atributos select {
    margin-bottom: 1rem;
}

.sidebar-content .atributos #tags {
    width: 155px;
}

.sidebar-content .atributos button {
    font-size: 13px;
    padding: 5px 10px;
    margin-bottom: 4px;
}

.side-menu h1 {
    font-size: 18px;
    font-family: 'Poppins-Bold', sans-serif;
}

.side-menu h2 {
    font-size: 12px;
    color: #19b798;
}

.side-menu {
    width: 240px;
    background: #263238;
    color: #fff;
    height: 100%;
    position: fixed;
    padding: 30px 35px;
}

.side-menu .person-image {
    position: relative;
    z-index: 9;
    height: 64px;
    width: 64px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.content-page {
    margin-left: 257px;
    padding: 20px 25px;
}

.sidemenu {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif
}

.person-about {
    text-align: center;
}

.side-menu nav {
    margin-top: 30px;
}

.side-menu nav ul {
    list-style: none;
    padding-left: 5px;
    width: 100%;
}

.side-menu nav li {
    padding: 5px 0;
}

.side-menu nav li a {
    color: #fff;
}

.side-menu nav li a:hover {
    text-decoration: none;
}

.side-menu .nav-item {
    margin-left: 5px;
    width: 100px;
}

.side-menu .nav-item .fa {
    margin-right: 10px;
}

.side-menu .nav-item .fa-chevron-right {
    float: right;
    margin-top: 6px;
    margin-right: 0;
}

.materias .materia {
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

.materias .materia:first-child {
    padding-left: 0;
}

.materias .materia .content {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.materias .materia h3 {
    font-size: 15px;
    font-family: 'Poppins-Bold', sans-serif;
    margin-bottom: 2px;
}

.materias .materia h4 {
    font-size: 12px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.materias .materia .fa {
    margin-right: 10px;
}

.materias .materia .fa-arrow-up {
    color: green;
}

.materias .materia .fa-arrow-down {
    color: red;
}

.materias .materia .fa-minus {
    color: blue;
}

.materias .materia .media-materia {
    margin-bottom: 0;
    font-size: 25px;
}

.materias .materia .fa-chevron-down {
    position: absolute;
    right: 5px;
    bottom: 7px;
}

.charts {
    position: relative;
}

.chart-infos h3 {
    font-size: 18px;
    font-family: 'Poppins-Bold', sans-serif;
    text-align: center;
    margin: 38px 0 25px;
}

.charts>div {
    display: none;
    position: absolute;
    width: 100%;
}

.chatbot {
    position: fixed;
    right: 25px;
    bottom: -197px;
    width: 259px;
    transition: 0.5s;
}

.chatbot.open {
    bottom: 0px;
}

.chatbot .chat-header {
    background: #19b798;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatbot .chat-header h4 {
    font-size: 16px;
    margin: 0 0 0 5px;
}

.chatbot .chat-header .fa {
    margin-right: 5px;
}

.chatbot .chat-body {
    padding: 10px 0;
    background: #fff;
    min-height: 150px;
}

.chatbot .chat-body ol {
    list-style: none;
    padding: 0;
}

.chatbot .chat-body ol li {
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 10px;
    background: #f2f2f2;
}

.chatbot .chat-footer {
    border-top: 1px solid #d0d0d0;
    background: #fff;
    padding: 10px;
    overflow: auto;
}

.chatbot .chat-footer .textarea {
    width: 190px;
    float: left;
    border: 0;
    color: #212529;
    outline: 0;
}

.chatbot .chat-footer button {
    width: 23px;
    height: 26px;
    float: right;
    color: #fff;
    background: #263238;
    border: 0;
    border-radius: 50%;
    outline: 0;
}

.chatbot .chat-footer button:hover {
    background: #19b798;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.prof-materias h4 {
    color: #19b798;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 17px;
    margin: 25px 0 0px;
}

.turma ul {
    list-style: none;
}

.turma a {
    color: #212529;
}

.cadastro-prova h3 {
    font-size: 40px;
    margin: 40px 0 20px;
}

.inserir-apostila h4 {
    margin-bottom: 10px;
}

.inserir-apostila #categorias {
    height: 30px;
    font-size: 12px;
}

.inserir-apostila #insere-apostila,
.inserir-apostila .envia-apostila {
    font-size: 12px;
}

.calendario h2 {
    font-size: 22px;
}